language: java
dist: trusty
sudo: false
install: true
jdk:
- oraclejdk8
addons:
  apt:
    packages:
    - oracle-java8-installer
script:
- rm -rf $HOME/.m2/repository
#- mvn clean package -B -V
- mvn clean
- mvn install
- ls -lh $HOME/build/taljmars/DroneServer/ServerInstallation/Linux
- echo "$(date +'%Y%m%d%H%M%S')" > $HOME/build/taljmars/DroneServer/test.txt
- cat $HOME/build/taljmars/DroneServer/test.txt
- echo $TRAVIS_BUILD_DIR

#jobs:
#  include:
#  - stage: test
#  - 
#  - stage: deploy
#    script: mvn deploy
before_deploy:
# Set up git user name and tag this commit
- git config --local user.name taljmars
- git config --local user.email taljmars@gmail.com
- git tag -a "Auto-$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)" -m "tal"
- git push origin --tags
- git fetch origin
deploy:
  provider: releases
  api_key:
    secure: m1vMW8ZFhUGds4GUcD6TEyuIUVIFc5PEHDONzhVP6iwjSgXCwxgo+6383udrHOXs/8AB4CRsz0oReNVoMS0Ys/oKx8TXcotX3nSPUy9+wTk/fYUDUJSbYLJxPIcIDOdLL5ucQiiPptNclX564xBl2Hk+CjeE9X0/PN/eSq0y3lYY6ysHt7nIi+O6hrqWFiKeS9nhdgj4PBW7qMa/J2EqJN8F4VOzA4HS2Cb0uL5R+IaLPrbGw5Sq1HwGFtL4LPh8fKQXOZ3RMwz0fhROlDY7u3oNB2i9QpppheqOmIe66/ueuiPbuYuvo5QlDAvIG7ZhXVrknlqIrkGKNEaGm4xespLhaSDd7bJf6q/o04kDVAmdwBc379ixENaVSTDyi6GDHGrDZXliJ6fy8PezXMbMoZLJaCj0BxA9kRx6p3myQ/CT7tHIxpXBfVDYOg7VZwSBcqACD0aRrFGsCZTJ3H+2RByvvgm3LpDOaN+amSSh06rXNqQ5xXhH4HIQsLWFKQ93CyDsfOR6I6Ol526pxDiLyXrEN9DD1YcoPmKph0snCcEQx2aN7xkug1fjzOvjXmJbM8YhQeiAWMDnnhQ8bVcLNjAg0yASeMHb14SJ5W3tfayXG8g8ciMB6l/QNnlTaZAdXe9t+tyD2Oo8alIdX4Tmu0KLb7pDP9Bk3edvx3TyokI=
#  file_glob: "true"
  #file: "$HOME/build/taljmars/DroneServer/ServerInstallation/Linux/ServerCore-1.5.9.RELEASE-linux.tar"
  file: "$HOME/build/taljmars/DroneServer/test.txt"
  overwrite: true
  skip_cleanup: true
#  on:
#    tags: true
#  on:
#    all_branches: true
#    branch: master
#    repo: taljmars/DroneServer
#    tags: true
#    skip_cleanup: true

cache:
  directories:
  - "$HOME/.m2/repository"
notifications:
  email: true
